@model CleanArch.Application.ViewModels.SingleCourseViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Course.Name</h1>

<img class="img-thumbnail" src="@Model.Course.ImageUrl"></img>

<p>@Model.Course.Description</p>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
